# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# change these settings to your own preference
indent_style = space
indent_size = 2
quote_type = single
spaces_around_brackets = inside
spaces_around_operators = true

# we recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[package.json]
indent_style = space
indent_size = 2

[*.{scss,sass,less,css}]
indent_style = space
indent_size = 2
